
.search-group {
  display: flex;
  width: 100%;
}

.b-form {
  @extend .main-font-2;
  border-radius: 5px;
  border: 1px solid rgba(31, 35, 34, 0.3);
  padding: 15px;
  width: 100%;
  margin-right: 15px;
  &:focus,
  &:active,
  &:focus-within,
  &:visited {
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba(31, 35, 34, 0.25);
  }
  &::placeholder {
    @extend .main-font-2;
  }
  &-btn {
    @extend .main-font-2;
    display: block;
    border-radius: 5px;
    color: $white;
    background-color: $blue;
    text-align: center;
    height: 100%;
    letter-spacing: 1px;
    border: 1px solid transparent;
    padding: 15px;
    cursor: pointer;
    &:focus,
    &:active,
    &:focus-within,
    &:visited {
      outline: none;
      box-shadow: 0 0 0 0.1rem rgba(31, 35, 34, 0.25);
    }
  }

  &-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
      no-repeat;
    background-position: right;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
